<div mat-dialog-content class="adb-dialog-content">
  <div class="icon-section">
    @switch (mode()) {
    @case ('USB_UNAUTHORIZED') {
    <mat-icon color="warn" class="huge-icon shake-anim">phonelink_lock</mat-icon>
    }
    @default {
    <mat-icon color="warn" class="huge-icon pulse-anim">usb</mat-icon>
    }
    }
  </div>

  <div class="text-section">
    <h1 class="mat-headline-medium">
      @switch (mode()) {
      @case ('USB_UNAUTHORIZED') { Potrebna autorizacija }
      @default { Skener nije povezan }
      }
    </h1>

    <div class="instruction-box">
      <!-- Primarna poruka sa Backenda (npr. "Povežite USB kabl") -->
      <p class="progress-info-text">
        {{ progressMessage() }}
      </p>

      @if (mode() === 'USB_UNAUTHORIZED') {
      <div class="manual-steps">
        <ul>
          <li>Pogledajte u <b>ekran telefona</b></li>
          <li>Označite "Uvek dozvoli" i kliknite <b>OK</b></li>
        </ul>
      </div>
      }
    </div>
  </div>

  <div class="progress-container">
    <!-- Bar je 'indeterminate' dok čekamo kabl ili dozvolu, crven je ako nije autorizovan -->
    <mat-progress-bar
      mode="indeterminate"
      [color]="mode() === 'USB_UNAUTHORIZED' ? 'warn' : 'accent'">
    </mat-progress-bar>
  </div>
</div>
